.product-card-container {
    width: 200px;
    height: 240px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--white);
    transition: 0.15s;
}

.product-card-container:hover {
    transform: translateY(-2px);
    box-shadow: 1px 4px 20px 1px #DDDDDD;
}

.product-card-image-container {
    height: 190px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.product-card-image {
    max-width: 190px;
    max-height: 190px;
}

.product-card-title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}