.products-container {
    width: 1220px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 258px 912px;
    grid-template-areas: "aside main-content";
    grid-gap: 40px;
    margin: 40px auto;
}

.products-content {
    grid-area: main-content
}

.product-category-header {
    text-align: left;
    font-size: 32px;
    margin-bottom: 20px;
}

.product-category-description {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 16px;
}
