.produc-grid-container {
    text-align: left;
}

.product-grid-bar {
    color: var(--white);
    background-color: var(--grey);
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
    padding: 12px 13px;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.product-grid-grid {
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
}