.product-card-container {
    position: relative;
    width: 400px;
    height: 300px;
    cursor: pointer;
    background-color: var(--white);
    transition: 0.1s;
}

.product-card-unfocus {
    filter: grayscale(100%) blur(2px);
}

.product-card-container:hover {
    /* transform: translateY(-2px); */
    transform: scale(1.02);
    box-shadow: 1px 4px 20px 1px #DDDDDD;
}


.product-card-image {
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.product-card-title {
    position: absolute;
    color: var(--white);
    background-image: linear-gradient(transparent, rgba(0,0,0,0.7));
    bottom: 0;
    width: 100%;
    height: 100px;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 10px;
    /* text-transform: uppercase; */
    display: flex;
    align-items: flex-end;
}
