.product-card-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 45px;
    border: 1px solid var(--grey);
}

.product-card-container-2 > * {
    margin-bottom: 10px;
}

.product-card-img-2 {
    max-width: 204px;
    max-height: 204px;
}

.product-card-img-container-2 {
    width: 270px;
    height: 253px;
    display: flex;
    justify-content: center;
    align-items: center;
}