.product-card-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 0;
    cursor: pointer;
    /* border: 1px solid var(--grey); */
    transition: ease-in-out 0.2s;
}

.product-card-container-2:hover {
    background-color: rgb(236, 236, 236);
}

.product-card-img-2 {
    max-width: 204px;
    max-height: 204px;
}

.product-card-img-container-2 {
    background-color: var(--white);
    width: 270px;
    height: 253px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.product-card-title-2 {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
}

.product-card-title-2:hover {
    color: var(--red);
}

.product-card-category {
    color: rgba(125,125,125,0.7);
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}

.product-card-actions {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}